.search-modal {
    position: fixed;
    inset: 0;
    z-index: 999;
    background-color: var(--background-color);
    height: calc(100vh + -0px);

    &__content {
        background-color: var(--background-color);
        padding: 40px;
        overflow: auto;
        height: 100%;
        width: 100%;
        max-width: 100%;
    }

    &__top {
        text-align: center;
    }
}

.modal-overlay {
    display: block !important;
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

.search-modal__top .close-btn {
    position: absolute;
    top: 10px;
    right: 26px;
    z-index: 99;
    background-color: transparent;
    min-width: 0;
    width: 30px;
    height: 30px;
    padding: 0;
    transition: var(--transition-config);

    &:hover {
        color: var(--primary-color);
    }
}

.icon {
    display: inline-block;
    width: 1.5rem;
}

.title {
    font-size: 4.2rem;
    margin-bottom: 30px;
}

.input-box {
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
    transition: box-shadow 0.1s ease;
}

.input {
    background-color: transparent;
    padding: 0 80px 0 30px;
    height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 999px;
    transition: var(--transition-config);
    outline: none;

    &:focus {
        border: 1px solid rgba(0, 0, 0, 1);
    }

    &:not(:focus) ~ .reset-btn {
        display: none;
    }

    &:hover ~ .reset-btn {
        display: block;
    }
}

.input-box .search-btn {
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    min-width: 0;
    width: 59px;
    padding: 0 14px 0 0;
    transition: var(--transition-config);

    &:hover {
        color: var(--primary-color);
    }
}

.input-box .reset-btn {
    background-color: transparent;
    min-width: 0;
    height: 100%;
    position: absolute;
    right: 56px;
    top: 0;
    padding: 0 6px;

    &:hover {
        display: block;
    }
}

.popular {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.7);
    gap: 0 2px;
}

.label {
    margin-left: 10px;
}

.popular .btn {
    font-size: 1.4rem;
    padding: 6px 12px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 400;
    border-color: rgba(0, 0, 0, 0.7);
    background-color: transparent;
    min-width: 0;
    height: 40px;
    font-family: var(--font-family);
    border-radius: 12px;
    transition: var(--transition-config);

    &:hover {
        color: var(--primary-color);
        border-color: var(--primary-color);
    }
}

.recommend-label {
    margin: 32px 0;
    font-size: 3rem;
    font-weight: 700;
}

.card-list__inner {
    --grid-gutter-x: 10px;
}
