.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

    &__desc {
        max-width: 740px;
        margin: 0 auto;
        text-align: center;
    }
}
