.product-icons {
    position: absolute;
    bottom: 20px;
    right: 0;
    left: 0;
    padding: 18px 20px;
    background-color: var(--text-color);
    width: calc(100% - 40px);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 18px;
}

.wishlist-content,
.compare-content {
    display: flex;
    align-items: center;
}

.product-icons .btn {
    background-color: transparent;
    padding: 0;
}

.product-icons .icon {
    color: var(--white-color);
    transition: var(--transition-config);

    &:hover {
        color: var(--primary-color);
    }
}
